<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :recipe_content %>
  </div>

  <div class="field">
    <%= form.label :quantity_upstairs %>
    <%= form.text_area :quantity_upstairs, id: :recipe_quantity_upstairs %>
  </div>

  <div class="field">
    <%= form.label :quantity_downstairs %>
    <%= form.text_area :quantity_downstairs, id: :recipe_quantity_downstairs %>
  </div>

  <div class = "field">
  <%= form.select :food_type, ['Plain Protein','Starch', 'Sauces', 'Red Meat', 'Chicken', 'Turkey'], :prompt => 'Select A Food Type' %>
</div>

<div class="field">
    <%= form.label "Ann Safe" %> <br />
    <%= form.check_box :ann_safe %> <br />
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">@example.com</span>
</div>

<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-addon">.00</span>
</div>

<label for="basic-url">Your vanity URL</label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>