<div class="container">
<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input input-primary input-md">
    <%= form.text_area :content, id: :recipe_content, placeholder: 'Meal', class: 'form-control'%>
    <%= form.text_area :quantity_upstairs, id: :recipe_quantity_upstairs, placeholder: 'Quantity Upstairs', class: 'form-control'%>
    <%= form.text_area :quantity_downstairs, id: :recipe_quantity_downstairs, placeholder: 'Quantity Downstairs', class: 'form-control'%>
  </div>


<%= form.select :food_type, options_for_select([
  ["Select One", ""], 
  "Chicken", 
  "Plain Protein", 
  "Red Meat", 
  "Sauces", 
  "Starch",
  "Turkey"]), 
  {}, { class: "form form-group form-control" } %>

<div class="field">
    <%= form.label "Ann Safe" %>
    <%= form.check_box :ann_safe, {checked: true} %> <br />
</div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
