<div class="panel panel-primary">
	<% Recipe.all.where(food_type: recipe).each do |a| %>
	<%= a.id %>
<div class="panel-heading text-center"><%= a.content %></div>
<table class = "table">
	<tr>
		<td>
			<div class="text-center list-group-item-info">Upstairs Freezer</div>
			<div class="text-center panel-body"> <%= a.quantity_upstairs %>
				<div class="pull-right btn-group btn-group-xs" role="group">

					<%= link_to "<i class ='glyphicon glyphicon-arrow-up'></i>".html_safe, increase_upstairs_recipe_path(a), method: :put %>
					<%= link_to "<i class ='glyphicon glyphicon-arrow-down'></i>".html_safe, decrease_upstairs_recipe_path(a), method: :put %>

				</div>
			</div>
		</td>
		<td>
			<div class="text-center list-group-item-info">Downstairs Freezer</div>
			<div class="text-center panel-body"> <%= a.quantity_downstairs %>
				<div class="pull-right btn-group btn-group-xs" role="group">
					<%= link_to "<i class ='glyphicon glyphicon-arrow-up'></i>".html_safe, increase_downstairs_recipe_path(a), method: :put %>
					<%= link_to "<i class ='glyphicon glyphicon-arrow-down'></i>".html_safe, decrease_downstairs_recipe_path(a), method: :put %>
				</div>
			</div>
		</td>
</tr>
</table>
<% end %>
</div>