<div class="row">
	<div class="col-md-6">
		<h3 class="text-center">Plain Protein</h3>
		<%= render 'panes' %>
	</div>
	<div class="col-md-6">
		<h3 class="text-center">Starch</h3>
		<%= render 'panes' %>
	</div>
	<div class="col-md-6">
		<h3 class="text-center">Sauces</h3>
		<%= render 'panes' %>
	</div>
	<div class="col-md-6">
		<h3 class="text-center">Beef Meals</h3>
		<%= render 'panes' %>
	</div>
		<div class="col-md-6">
		<h3 class="text-center">Chicken Meals</h3>
		<%= render 'panes' %>
	</div>
		<div class="col-md-6">
		<h3 class="text-center">Turkey Meals</h3>
		<%= render 'panes' %>
	</div>

</div>
